<div class="big">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">


    <div class="messages1" id="messagesID">
        <h5>ja</h5>
    </div>

    <div class="checkout">
        <h1>CEJ Kirk</h1>
        <p><i class="fa-solid fa-lock"></i> Checkout</p>
    
        <div class="ballsNlines">
    
            <div class="checkNball" id="check1">
                <div class="ball1Check" id="CHECK1"><i class="fa-solid fa-check"></i></div>
                <p id="infoCHECK">info</p>
            </div>
    
            <div class="ballNwrite" id="ball1">
                <div class="ball"><h5>1</h5></div>
                <p>info</p>
            </div>
    
            <div class="line" id="line1"></div>
    
            <div class="checkNball" id="check2">
                <div class="ball1Check" id="CHECK1"><i class="fa-solid fa-check"></i></div>
                <p id="billCHECK">Billing</p>
            </div>
    
            <div class="ballNwrite" id="ball2">
                <div class="ball"><h5>2</h5></div>
                <p>Billing</p>
            </div>
    
            <div class="line" id="line2"></div>
    
            <div class="checkNball" id="check3">
                <div class="ball1Check" id="CHECK1"><i class="fa-solid fa-check"></i></div>
                <p id="rere">Finish</p>
            </div>
    
            <div class="ballNwrite" id="ball3">
                <div class="ball"><h5>3</h5></div>
                <p>Finish</p>
            </div>
        </div>
    
    
        <div class="first_slide" id="first_slideID">
            <p id="shiptoo">Ship To</p>

            <div class="firstNlast">

                <div class="first">
                    <label for="firstName">First Name <span>required</span></label>
                    <input type="text" name="firstName" id="firstNameID1" oninput="check_first_name()" placeholder="Joe">
                </div>

                <div class="last">
                    <label for="lastName">Last Name <span>required</span></label>
                    <input type="text" name="lastName" id="lastNameID2" oninput="check_last_name()" placeholder="Doe">
                </div>

            </div>

            <div class="street-address">
                <label for="street">Street Address: <span>required</span></label>
                <input type="text" name="street" id="streetID" oninput="check_address_name()" placeholder="123 NW Skinwalker Ranch">
            </div>

            <div class="zipCode_city">

                <div class="first">
                    <label for="firstName">Zip Code <span>required</span></label>
                    <input type="text" name="firstName" id="zipcodeID" oninput="check_zipper_name()" placeholder="89147">
                </div>

                <div class="last">
                    <label for="lastName">Town/City <span>required</span></label>
                    <input type="text" name="lastName" id="townID" oninput="check_townCity()" placeholder="Las Vegas">
                </div>

            </div>

            <div class="street-address">
                <label for="country">Country <span>required</span></label>
                <input type="text" name="country" id="countryID" oninput="check_country()" placeholder="United States">
            </div>

            <div class="street-address">
                <label for="phone">Phone Number <span>required</span></label>
                <input type="text" name="phone" id="phoneID" oninput="check_phone_number()" placeholder="7257260877">
            </div>

            <div class="labelbox">
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label for="vehicle1"> Use as billing address</label><br>
            </div>
    
        </div>

    
        <div class="second_slide" id="second_slideID">
            <!-- Your HTML structure -->
            <div class="newcheckout">

                <form id="payment-form">
                    {% csrf_token %}
                    <div id="payment-element">
                      <!--Stripe.js injects the Payment Element-->
                      <div id="card-number-element"></div>
                      <div id="card-expiry-element"></div>
                      <div id="card-cvc-element"></div>
                    </div>
                    <button id="submit" style="text-align: center;">
                        <span id="button-text2"  style="display: none;">Please Wait.....</span>
                      <span id="button-text">Pay now</span>
                    </button>
                    <div id="payment-message" style="color: red;" class="hidden"></div>
                  </form>
            </div>
        </div>
    
    
    </div>

    <div class="subtotal">

        <div class="order_stuff">
            <h5>Order Summary</h5>
            <div class="both">

                <div class="names">
                    <p>Merchandise:</p>
                    <p id="discount">Discount:</p>
                    <p>Shipping & Handling:</p>
                    <p>Tax:</p>
                </div>
    
                <div class="princes">
                    <p id="mer"></p>
                    <p id="dis"></p>
                    <p id="ship"></p>
                    <p id="tax"></p>
                </div>
    
            </div>
    
            <div class="line"></div>
    
            <div class="ordertotal">
                <div class="order">
                    <p>Order Total:</p>
                </div>
                <div class="price">
                    <p id="orderTotal"></p>
                </div>
            </div>

        </div>

        <div class="invisible_info_div" id="inBox">
            <h5>For <span id="user_option_choice"></span></h5>

            <p>Card Number:</p>
            <div class="cardnum">
                <p id="card_numbersss" class="kis"></p>
                <i class="fa-solid fa-copy" id="non_copy" onclick="copy_number()"></i>
                <i class="fa-solid fa-check" id="number_copied"></i>
            </div>

            <p>You can put any ex date and CVC you want</p>

        </div>

        <div class="info_about_page">

            <div class="firstSlide" id="infoSlide1ID">
                <h5>About Project - <span>Read Me</span></h5>
                <hr>
                <p>This area is just a standard info input area where a user would put their info into the inputs. You can enter random stuff or hit the 'Auto Fill' button to automatlly fill the inputs.</p>
                <p>You can also click the 'Next' button to test the input verification system.</p>
            </div>
            <div class="secondSlide" id="infoSlide2ID">
                <h5>Stripe Payment - <span>Read Me</span></h5>
                <hr>
                <p>The Stripe payment API provides numerous testing tools for developers to evaluate their integration. Among these tools are a 
                    set of dummy card numbers specifically designed to test various card scenarios and responses. These scenarios include 
                    generic declines, insufficient funds, expired card, incorrect CVC decline, and incorrect number decline. You can find 
                    the full list by clicking <a href="https://stripe.com/docs/testing#declined-payments" target="_blank">here</a>. </p>
                <hr>
                <h5>Pick The Scenario</h5>
                <div class="picksascene">
                    <div class="selector">
                        <select name="scenario_selector" id="scenario_selectorID" onchange="update_card_details()">
                            <option value="Pick_Scenario">Pick Scenario</option>
                            <option value="Generic_Decline">Generic Decline</option>
                            <option value="Insufficient_Funds">Insufficient Funds</option>
                            <option value="Expired_Card">Expired Card</option>
                            <option value="Incorrect_CVC">Incorrect CVC Decline</option>
                            <option value="Incorrect_Number">Incorrect Number Decline</option>
                            <option value="Normal_Scenario">Normal Scenario</option>
                        </select>
                    </div>
                </div>
                <hr>
                <p>For this projects purposes we will be only using a few but more of the most common scenarios. </p>
            </div>
        </div>

        <div class="buttons">
            <div class="autofill_button">
                <button onclick="auto_fill()">Auto Fill</button>
            </div>
            <div class="nextbutton">
                <button onclick="nextProcess()">Next</button>
            </div>
        </div>
    </div>

</div>
