<div class="links2open" id="links2openID">
    <div class="xbutton">
        <button onclick="closeTab()"><i class="fa-solid fa-circle-xmark"></i></button>
    </div>
    <a href="#" id="home-page" onclick="openHome()">Home <span><i class="fa-solid fa-plus"></i></span></a>
    <a href="#" id="about-page" onclick="openAbout()">About <span><i class="fa-solid fa-plus"></i></span></a>
    <a href="#" id="about-page">Others <span><i class="fa-solid fa-plus"></i></span></a>
    <a href="#" id="contact-page">Contact <span id="noneSPAN"><i class="fa-solid fa-plus"></i></span></a>
</div>





<div class="home2open" id="home2openID">
    <div class="xbutton">
        <button onclick="back_tab()"><i class="fa-solid fa-circle-arrow-left"></i></button>
        <button onclick="closeTab2()"><i class="fa-solid fa-circle-xmark"></i></button>
    </div>
    <a href="#">Portfolio Home</a>
    <a href="#">Backend Projects</a>
    <a href="#">This Project Home</a>
</div>



<div class="about2open" id="about2openID">
    <div class="xbutton">
        <button onclick="back_tab2()"><i class="fa-solid fa-circle-arrow-left"></i></button>
        <button onclick="closeTab3()"><i class="fa-solid fa-circle-xmark"></i></button>
    </div>
    <a href="#">About Project</a>
    <a href="#">How It Works</a>
    <a href="#">Stripe API</a>
</div>