{% extends 'base.html' %}




{% block content %}

{% load static %}

<div class="aboutproject">
    <h1>About The Project.</h1>
    <h5>Overview</h5>
    <p>
        My Stripe API Backend Project is showcase of my expertise in backend technologies and 
        integration with powerful APIs. This project is a testament to my commitment 
        to delivering robust, efficient, and secure solutions for e-commerce transactions.
    </p>
    <h5>Purpose</h5>
    <p>
        The primary objective of this project is to demonstrate my proficiency with handling the 
        complexities of online transactions through the integration of the Stripe payment API. From product 
        selection to the checkout process, every step is meticulously designed to showcase the flow 
        of data and transactions, ensuring a smooth user experience.
    </p>
    <h5 id="keyfeatures">Key Features</h5>
    <h5>1. Product Selection</h5>
    <p>
        My project features a user-friendly interface that allows customers to browse and select 
        products effortlessly. The integration with the Stripe API ensures real-time product availability 
        and pricing updates, providing users with accurate information during their shopping experience.
    </p>
    <h5>2. Review Page</h5>
    <p>
        Once users have made their product selections, they are guided to a detailed review page. Here, 
        they can meticulously inspect their choices, make any necessary adjustments, and proceed to 
        the next step with confidence. The integration with the Stripe API enables secure and efficient 
        handling of the entire review process.
    </p>
    <h5>3. Checkout</h5>
    <p>
        The checkout process is a critical component of any e-commerce platform, and my project excels 
        in delivering a streamlined and secure experience. Leveraging the capabilities of the Stripe API, 
        I ensure that payment transactions are handled with the most security and efficiency, providing 
        users with a easy end-to-end experience.
    </p>

    <hr>

    <h5>Technology Stack</h5>
    <p>Python was used for backend, along with its web framework Django.</p>
    <p>Html, Scss and TypeScript was used for the client side.</p>
    <p>Along with making use of APIs</p>
</div>

{% endblock content %}