{% extends 'base.html' %}




{% block content %}

{% load static %}


<div class="big">

    <div class="messages1" id="messagesID">
        <h5>ja</h5>
    </div>

    <div class="checkout">
        <h1>CEJ Kirk</h1>
        <p><i class="fa-solid fa-lock"></i> Checkout</p>
    
        <div class="ballsNlines">
    
            <div class="checkNball" id="check1">
                <div class="ball1Check" id="CHECK1"><i class="fa-solid fa-check"></i></div>
                <p id="infoCHECK">info</p>
            </div>
    
            <div class="ballNwrite" id="ball1">
                <div class="ball"><h5>1</h5></div>
                <p>info</p>
            </div>
    
            <div class="line" id="line1"></div>
    
            <div class="checkNball" id="check2">
                <div class="ball1Check" id="CHECK1"><i class="fa-solid fa-check"></i></div>
                <p id="billCHECK">Billing</p>
            </div>
    
            <div class="ballNwrite" id="ball2">
                <div class="ball"><h5>2</h5></div>
                <p>Billing</p>
            </div>
    
            <div class="line" id="line2"></div>
    
            <div class="checkNball" id="check3">
                <div class="ball1Check" id="CHECK1"><i class="fa-solid fa-check"></i></div>
                <p id="rere">Review</p>
            </div>
    
            <div class="ballNwrite" id="ball3">
                <div class="ball"><h5>3</h5></div>
                <p>Review</p>
            </div>
        </div>
    
    
        <div class="first_slide" id="first_slideID">
            <p id="shiptoo">Ship To</p>

            <div class="firstNlast">

                <div class="first">
                    <label for="firstName">First Name <span>required</span></label>
                    <input type="text" name="firstName" id="firstNameID1" oninput="check_first_name()">
                </div>

                <div class="last">
                    <label for="lastName">Last Name <span>required</span></label>
                    <input type="text" name="lastName" id="lastNameID2" oninput="check_last_name()">
                </div>

            </div>

            <div class="street-address">
                <label for="street">Street Address: <span>required</span></label>
                <input type="text" name="street" id="streetID" oninput="check_address_name()">
            </div>

            <div class="zipCode_city">

                <div class="first">
                    <label for="firstName">Zip Code <span>required</span></label>
                    <input type="text" name="firstName" id="zipcodeID" oninput="check_zipper_name()">
                </div>

                <div class="last">
                    <label for="lastName">Town/City <span>required</span></label>
                    <input type="text" name="lastName" id="townID" oninput="check_townCity()">
                </div>

            </div>

            <div class="street-address">
                <label for="country">Country <span>required</span></label>
                <input type="text" name="country" id="countryID" oninput="check_country()">
            </div>

            <div class="street-address">
                <label for="phone">Phone Number <span>required</span></label>
                <input type="text" name="phone" id="phoneID" oninput="check_phone_number()">
            </div>

            <div class="labelbox">
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label for="vehicle1"> Use as billing address</label><br>
            </div>
    
        </div>
    
        <div class="second_slide" id="second_slideID">
            <!-- Your HTML structure -->
            <div id="card-element">
                <!-- Card number container -->
                <div id="card-number-element"></div>
                <!-- Expiration date container -->
                <div id="card-expiry-element"></div>
                <!-- CVC container -->
                <div id="card-cvc-element"></div>
            </div>
        </div>
    
    
    </div>

    <div class="subtotal">

        <div class="order_stuff">
            <h5>Order Summary</h5>
            <div class="both">

                <div class="names">
                    <p>Merchandise:</p>
                    <p id="discount">Discount:</p>
                    <p>Shipping & Handling:</p>
                    <p>Tax:</p>
                </div>
    
                <div class="princes">
                    <p id="mer"></p>
                    <p id="dis"></p>
                    <p id="ship"></p>
                    <p id="tax"></p>
                </div>
    
            </div>
    
            <div class="line"></div>
    
            <div class="ordertotal">
                <div class="order">
                    <p>Order Total:</p>
                </div>
                <div class="price">
                    <p id="orderTotal"></p>
                </div>
            </div>

        </div>


        <div class="info_about_page">
            <div class="firstSlide" id="infoSlide1ID">
                <h5>About Project - <span>Read Me</span></h5>
                <hr>
                <p>This area is just a standard info input area where a user would put their info into the inputs. You can enter random stuff or hit the 'Auto Fill' button to automatlly fill the inputs.</p>
                <p>You can also click the 'Next' button to test the input verification system.</p>
            </div>
            <div class="secondSlide" id="infoSlide2ID">
                <h5>Stripe Payment</h5>
                <hr>
                <p>The Stripe payment API provides numerous testing tools for developers to evaluate their integration. Among these tools are a 
                    set of dummy card numbers specifically designed to test various card scenarios and responses. These scenarios include 
                    generic declines, insufficient funds, expired card, incorrect CVC decline, and incorrect number decline. You can find 
                    the full list by clicking <a href="https://stripe.com/docs/testing#declined-payments" target="_blank">here</a>. </p>
                <hr>
                <h5>Pick The Scenario</h5>
                <div class="picksascene">
                    <div class="selector">
                        <select name="scenario_selector" id="scenario_selectorID">
                            <option value="generic-decline">Generic Decline</option>
                            <option value="insufficient-funds">Insufficient Funds</option>
                            <option value="expired-card">Expired Card</option>
                            <option value="incorrect-CVC-decline">Incorrect CVC Decline</option>
                            <option value="incorrect-number-decline">Incorrect Number Decline</option>
                        </select>
                    </div>
                    <div class="selector_button">
                        <button>TEST</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons">
            <div class="autofill_button">
                <button onclick="auto_fill()">Auto Fill</button>
            </div>
            <div class="nextbutton">
                <button onclick="nextProcess()">Next</button>
            </div>
        </div>
    </div>

</div>





<script src="https://js.stripe.com/v3/"></script>


<script src="{% static 'js/sandbox3.js' %}"></script>

{% endblock content %}