body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #021F3C;
}
.navbar .firstSide {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.navbar .firstSide a {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.navbar .firstSide a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.navbar .firstSide .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-around;
  width: 68%;
}
.navbar .firstSide .links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
.navbar .firstSide .links a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.navbar .firstSide .links .homeDropdown .dropdown {
  position: absolute;
  background-color: black;
  border: 2px solid white;
  width: 200px;
  padding: 10px;
  text-align: left;
  display: none;
}
.navbar .firstSide .links .homeDropdown .dropdown a {
  margin-bottom: 10px;
}
.navbar .firstSide .links .aboutDropdown .dropdown {
  position: absolute;
  background-color: black;
  border: 2px solid white;
  width: 200px;
  padding: 10px;
  text-align: left;
  display: none;
}
.navbar .firstSide .links .aboutDropdown .dropdown a {
  margin-bottom: 10px;
}
.navbar .cart {
  margin-right: 20px;
}
.navbar .cart a button {
  background-color: #ffffff;
  padding: 7px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  border: none;
}
.navbar .hamburgerMenu {
  display: none;
}

.navbar2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #021F3C;
  display: none;
}
.navbar2 .hamburgerMenu {
  cursor: pointer;
  color: white;
}
.navbar2 .firstSide a {
  color: white;
  text-decoration: none;
}
.navbar2 .cart a button {
  border: none;
  padding: 2px;
  border-radius: 10px;
}

.links2open {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.886);
  text-align: center;
  display: none;
}
.links2open .xbutton {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-right: 10px;
}
.links2open .xbutton button {
  background-color: rgba(2, 31, 60, 0);
  color: white;
  font-size: 50px;
  border: none;
}
.links2open a {
  color: white;
  font-size: 50px;
  text-decoration: none;
  margin-bottom: 5%;
  margin-top: 2%;
}
.links2open a span {
  font-size: 20px;
}
.links2open a #noneSPAN {
  visibility: hidden;
}

.home2open {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.886);
  text-align: center;
  display: none;
}
.home2open .xbutton {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 10px;
}
.home2open .xbutton button {
  background-color: rgba(2, 31, 60, 0);
  color: white;
  font-size: 50px;
  border: none;
}
.home2open a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  margin-bottom: 7%;
  margin-top: 5%;
}

.about2open {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.886);
  text-align: center;
  display: none;
}
.about2open .xbutton {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 10px;
}
.about2open .xbutton button {
  background-color: rgba(2, 31, 60, 0);
  color: white;
  font-size: 50px;
  border: none;
}
.about2open a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  margin-bottom: 7%;
  margin-top: 5%;
}

.banner {
  text-align: center;
  background-color: #0b3661;
  padding: 10px;
}
.banner h1 {
  color: white;
}

.products_showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.products_showcase .product {
  display: flex;
}
.products_showcase .product img {
  width: 200px;
  background: radial-gradient(circle, #1c5c9c, black); /* Adjust colors as needed */
}
.products_showcase .product .info {
  padding: 5px;
  background: linear-gradient(to bottom, #4c4c4c, black);
  width: 100%;
}
.products_showcase .product .info h5 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}
.products_showcase .product .info .stars i {
  color: #2f80d2;
  cursor: default;
}
.products_showcase .product .info p {
  color: white;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}
.products_showcase .product .info .button-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products_showcase .product .info .button-price button {
  background-color: #2f80d2;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.products_showcase .product .info .button-price h5 {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}/*# sourceMappingURL=main.css.map */