$borderBlack: 2px solid black;
$borderWhite: 2px solid white;
$borderBlackDotted: 2px dotted black;
$borderWhiteDotted: 2px dotted white;
$navyBlue:#021F3C;
$productBlue:#1c5c9c;



body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.messages1 {
    position: absolute;
    top: 10%;
    left: 50%; /* Adjust left to 50% */
    transform: translate(-50%, -50%); /* Update transform property */
    padding: 0px;
    background-color: $productBlue;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    margin: auto;
    display: none;

    h5 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: white;
    }
}



.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $navyBlue;

    .firstSide {
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        width: 50%;

        a {
            color: rgb(255, 255, 255);
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;

            &:hover {
                color: #ffffff;
                text-decoration: underline;
            }
        }

        .links {
            display: flex;
            justify-content: space-around;
            align-items: center;
            justify-content: space-around;
            width: 68%;
    
            a {
                color: rgb(255, 255, 255);
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 17px;
    
                &:hover {
                    color: #ffffff;
                    text-decoration: underline;
                }
            }

            .homeDropdown {


                .dropdown {
                    position: absolute;
                    background-color: black;
                    border: $borderWhite;
                    width: 200px;
                    padding: 10px;
                    text-align: left;
                    display: none;

                    a {
                        margin-bottom: 10px;
                    }
                }
            }

            .aboutDropdown {


                .dropdown {
                    position: absolute;
                    background-color: black;
                    border: $borderWhite;
                    width: 200px;
                    padding: 10px;
                    text-align: left;
                    display: none;

                    a {
                        margin-bottom: 10px;
                    }
                }
            }
    
        }
    }


    .cart {
        margin-right: 20px;
        a {
            button {
                background-color: #ffffff;
                padding: 7px;
                border-radius: 10px;
                color: rgb(0, 0, 0);
                border: none;
            }
        }
    }

    .hamburgerMenu {
        display: none;
    }
}



.navbar2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $navyBlue;
    display: none;


    .hamburgerMenu {
        cursor: pointer;
        color: white;
    }


    .firstSide {
        a {
            color: white;
            text-decoration: none;
        }
    }


    .cart {
        a {
            button {
                border: none;
                padding: 2px;
                border-radius: 10px;
            }
        }
    }
}


.cahnces {
    visibility: hidden;
    position: absolute;
}

.links2open {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.886);
    text-align: center;
    display: none;

    .xbutton {
        display: flex;
        justify-content: end;
        margin-top: 10px;
        margin-right: 10px;

        button {
            background-color: #021f3c00;
            color: white;
            font-size: 50px;
            border: none;
        }
    }

    a {
        color: white;
        font-size: 50px;
        text-decoration: none;
        margin-bottom: 5%;
        margin-top: 2%;

        span {
            font-size: 20px;
        }

        #noneSPAN {
            visibility: hidden;
        }
    }
}

.home2open {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.886);
    text-align: center;
    display: none;

    .xbutton {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-right: 10px;

        button {
            background-color: #021f3c00;
            color: white;
            font-size: 50px;
            border: none;
        }
    }

    a {
        color: white;
        font-size: 30px;
        text-decoration: none;
        margin-bottom: 7%;
        margin-top: 5%;
    }

}

.about2open {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.886);
    text-align: center;
    display: none;

    .xbutton {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-right: 10px;

        button {
            background-color: #021f3c00;
            color: white;
            font-size: 50px;
            border: none;
        }
    }

    a {
        color: white;
        font-size: 30px;
        text-decoration: none;
        margin-bottom: 7%;
        margin-top: 5%;
    }

}


.banner {
    text-align: center;
    background-color: #0b3661;
    padding: 10px;
    h1 {
        color: white;
    }
}




.products_showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    .product {
        display: flex;

        img {
            width: 200px;
            background: radial-gradient(circle, $productBlue, black); /* Adjust colors as needed */
        }

        .info {
            padding: 5px;
            background: linear-gradient(to bottom, #4c4c4c, black);
            width: 100%;

            h5 {
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                cursor: default;
            }

            .stars {
                i {
                    color:#2f80d2;
                    cursor: default;
                }
            }

            p {
                color: white;
                font-size: 10px;
                font-family: Arial, Helvetica, sans-serif;
                margin-top: 5px;
            }

            .button-price {
                display: flex;
                align-items: center;
                justify-content: space-between;

                button {
                    background-color: #2f80d2;
                    border: none;
                    border-radius: 10px;
                    font-size: 13px;
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                }

                .added {
                    opacity: 0.5;
                    cursor: not-allowed;
                    display: none;
                }

                h5 {
                    font-size: 15px;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: 5px;
                }
            }
        }
    }
}



.cart_display {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 2%;

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #afafaf;
        text-align: left;
        background-color: #e7e7e7;
        padding: 8px;

        img {
            width: 100px;
            background: radial-gradient(circle, $productBlue, black); /* Adjust colors as needed */
        }
    }

    th {
        background-color: #f2f2f2;
    }
}


.subtotal {
    display: flex;
    justify-content: space-between;

    .promocode {
        text-align: left;
        width: 50%;

        input {
            border-radius: 10px;
            border: 1px solid grey;
        }
        input:focus {
            outline: none;
        }

        button {
            border: none;
            border-radius: 10px;
            background-color: $productBlue;
            color: white;
        }


    }


    .subtotal1 {
        text-align: left;
        width: 30%;

        .table1 {

            .t1 {
                display: flex;
                justify-content: space-between;
                border: 1px solid grey;
                background-color: #e7e7e7;

                .p1 {
                    margin-left: 2px;
                }

                .p2 {
                    margin-right: 2px;
                }
            }

            .t2 {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid grey;
                border-left: 1px solid grey;
                border-right: 1px solid grey;
                background-color: #e7e7e7;

                .p1 {
                    margin-left: 2px;
                }

                .p2 {
                    margin-right: 2px;
                }
            }
        }
    }
}

.submitbutton {
    display: flex;
    justify-content: end;
    margin-top: 2%;
    margin-bottom: 5%;

    a {
        border: none;
        border-radius: 10px;
        background-color: $productBlue;
        text-decoration: none;
        color: white;
        padding: 10px;
        font-size: 13px;
    }
}



.big {
    display: flex;
    border: $borderBlack;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;

    .checkout {
        text-align: center;
        width: 55%;

        h1 {
            margin-bottom: 0px;
            font-size: 50px;
        }
        p {
            margin-top: 0px;
        }
    
        .ballsNlines {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 95%;
            margin: auto;
    
            .checkNball {
                display: flex;
                align-items: center;
                flex-direction: column;
                display: none;
              
                .ball1Check {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  background-color: $productBlue;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-top: 10px;
                  
                  i{
                    margin: 0;
                    color: white;
                    cursor: default;
                  }
                }
              
                p {
                  margin: 0;
                  cursor: default;
                }
            }
    
    
    
            .ballNwrite {
                display: flex;
                align-items: center;
                flex-direction: column;
              
                .ball {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  border: $borderBlack;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-top: 10px;
              
                  h5 {
                    margin: 0;
                    cursor: default;
                  }
                }
              
                p {
                  margin: 0;
                  cursor: default;
                }
              }
    
            .line {
                border: $borderBlack;
                height: 4px;
                border-radius: 10px;
                width: 200px;
                margin-bottom: 10px;
            }
        }
    
    
    
    
    
        .first_slide {
            text-align: left;
            width: 95%;
            margin: auto;
            margin-top: 2%;

            p {
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 700;
            }
    
            .firstNlast {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 10px;
    
                .first {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-weight: bold;

                        span {
                            font-weight:200;
                        }
                    }
                    input:focus {
                        outline: none;
                    }
                }
                .last {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-weight: bold;

                        span {
                            font-weight:200;
                        }
                    }
                    input:focus {
                        outline: none;
                    }
                }
            }

            .street-address {
                display: flex;
                flex-direction: column;
                margin-top: 10px;

                label {
                    font-weight: bold;

                    span {
                        font-weight:200;
                    }
                }
                input:focus {
                    outline: none;
                }

            }

            .labelbox {
                margin-top: 10px;
            }


            .zipCode_city {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 10px;
                margin-top: 10px;
    
                .first {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-weight: bold;

                        span {
                            font-weight:200;
                        }
                    }
                    input:focus {
                        outline: none;
                    }
                }
                .last {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-weight: bold;

                        span {
                            font-weight:200;
                        }
                    }
                    input:focus {
                        outline: none;
                    }
                }
            }
        }
    
    
        .second_slide {
            display: none;
        }
    }

    .subtotal {
        width: 45%;
        display: flex;
        flex-direction: column;
        background-color: #efefef;

        .order_stuff {
            display: grid;
            grid-template-columns: 1fr;
            padding: 10px;
            border: 2px solid grey;
            height: fit-content;
            margin-left: 20px;
            background-color: white;
            width: 80%;
    
            .both {
                display: grid;
                grid-template-columns: 1fr 1fr;
    
                .names {
    
                    p {
                        margin-block-end: 0;
                        margin-block-start: 0;
                        cursor: default;
                    }
                }
    
                .princes {
                    #dis {
                        display: none;
                    }
    
                    p {
                        margin-block-end: 0;
                        margin-block-start: 0;
                        font-weight: bold;
                        cursor: default;
                        margin-left: 10px;
                    }
                }
            }
    
            .line {
                height: 2px;
                border: 1px solid grey;
                margin-top: 20px;
                margin-bottom: 20px;
            }
    
            .ordertotal {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 0;
                height: fit-content;
                margin-bottom: 10px;
    
                .order {
                    margin: 0;
                    padding: 0;
                    height: fit-content;
                    p {
                        margin-block-end: 0;
                        margin-block-start: 0;
                    }
                }
    
                .price {
                    margin: 0;
                    padding: 0;
                    height: fit-content;
                    p {
                        font-weight: bold;
                        margin-left: 10px;
                        margin-block-end: 0;
                        margin-block-start: 0;
                    }
                }
            }
    
    
    
            #discount {
                display: none;
            }

        }

        .info_about_page {
            margin-left: 20px;
            max-height: 240px;
            overflow: auto;
            width: 80%;
            padding: 10px;
            border: 1px solid grey;
            background-color: white;

            span {
                font-weight: 500;
                color: $productBlue;
            }


            .secondSlide {
                display: none;
                .picksascene {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button {
                        margin-left: 10px;
                        border: none;
                        border-radius: 10px;
                        background-color: $productBlue;
                        text-decoration: none;
                        color: white;
                        padding: 10px;
                        font-size: 13px;
                        width: 100px;
                    }
                }
            }

        }

        .buttons {
            display: flex;
            justify-content: left;
            margin-left: 10px;

            button {
                margin-left: 10px;
                border: none;
                border-radius: 10px;
                background-color: $productBlue;
                text-decoration: none;
                color: white;
                padding: 10px;
                font-size: 13px;
                width: 200px;
            }
        }
    }

}

/* For WebKit browsers like Chrome and Safari */
.info_about_page::-webkit-scrollbar {
    width: 12px; /* You can change this to make the scrollbar wider or narrower */
}
  
.info_about_page::-webkit-scrollbar-thumb {
    background-color: $productBlue; /* This is the color of the thumb (the moving part of the scrollbar) */
    border-radius: 6px; /* This makes the thumb rounded */
}

/* For Firefox */
.info_about_page {
    scrollbar-width: thin; /* 'thin' or 'auto' depending on your preference */
    scrollbar-color: $productBlue #f0f0f0; /* The first color is for the thumb, the second one is for the track (the background of the scrollbar) */
}

/* For Microsoft Edge */
.info_about_page {
    scrollbar-color: $productBlue #f0f0f0;
}
  