$borderBlack: 2px solid black;
$borderWhite: 2px solid white;
$borderBlackDotted: 2px dotted black;
$borderWhiteDotted: 2px dotted white;
$navyBlue:#021F3C;













@media(max-width:1115px) {
    .navbar {
    
        .firstSide {
            width: 53%;

        }
    }
}




@media(max-width:1000px) {
    .navbar {
    
        .firstSide {
            width: 57%;
    
        }
    
    }
}




@media(max-width:1000px) {
    .navbar {
        display: none;
    }

    .navbar2 {
        display: block;
        display: flex;
    }
}