@media (max-width: 1115px) {
  .navbar .firstSide {
    width: 53%;
  }
  .products_showcase {
    grid-template-columns: 1fr 1fr;
  }
  .products_showcase .product {
    display: flex;
  }
  .products_showcase .product img {
    width: 150px;
    background: radial-gradient(circle, #1c5c9c, black); /* Adjust colors as needed */
  }
  .products_showcase .product .info {
    padding: 5px;
    background: linear-gradient(to bottom, #4c4c4c, black);
    width: 100%;
  }
  .products_showcase .product .info h5 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
  }
  .products_showcase .product .info .stars i {
    color: #2f80d2;
    cursor: default;
  }
  .products_showcase .product .info p {
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
  }
  .products_showcase .product .info .button-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .products_showcase .product .info .button-price button {
    background-color: #2f80d2;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .products_showcase .product .info .button-price h5 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
  }
}
@media (max-width: 1000px) {
  .navbar .firstSide {
    width: 57%;
  }
}
@media (max-width: 1000px) {
  .navbar {
    display: none;
  }
  .navbar2 {
    display: block;
    display: flex;
  }
}
@media (max-width: 950px) {
  .checkout .ballsNlines {
    width: 60%;
    margin: auto;
  }
  .checkout .ballsNlines .line {
    border: 2px solid black;
    height: 4px;
    border-radius: 10px;
    width: 100px;
  }
  .checkout .underballs {
    width: 75%;
  }
}
@media (max-width: 760px) {
  .products_showcase {
    display: grid;
    grid-template-columns: 1fr;
  }
  .products_showcase .product {
    display: flex;
  }
  .products_showcase .product img {
    width: 150px;
    background: radial-gradient(circle, #1c5c9c, black); /* Adjust colors as needed */
  }
}
@media (max-width: 700px) {
  .cart_display {
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 2%;
  }
  .cart_display table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .cart_display th, .cart_display td {
    border: 1px solid #afafaf;
    text-align: left;
    background-color: #e7e7e7;
    padding: 8px;
  }
  .cart_display th img, .cart_display td img {
    width: 75px;
    background: radial-gradient(circle, #1c5c9c, black); /* Adjust colors as needed */
  }
  .cart_display th {
    background-color: #f2f2f2;
  }
  .subtotal {
    display: flex;
    justify-content: space-between;
  }
  .subtotal .promocode {
    text-align: left;
    width: 50%;
  }
  .subtotal .promocode input {
    border-radius: 10px;
    border: 1px solid grey;
  }
  .subtotal .promocode input:focus {
    outline: none;
  }
  .subtotal .promocode button {
    border: none;
    border-radius: 10px;
    background-color: #1c5c9c;
    color: white;
  }
  .subtotal .subtotal1 {
    text-align: left;
    width: 30%;
  }
  .subtotal .subtotal1 .table1 .t1 {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    background-color: #e7e7e7;
  }
  .subtotal .subtotal1 .table1 .t2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: #e7e7e7;
  }
  .submitbutton {
    display: flex;
    justify-content: end;
    margin-top: 2%;
  }
  .submitbutton button {
    border: none;
    border-radius: 10px;
    background-color: #1c5c9c;
    color: white;
    padding: 10px;
    font-size: 13px;
  }
}
@media (max-width: 615px) {
  .cart_display {
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 2%;
  }
  .cart_display table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .cart_display th, .cart_display td {
    border: 1px solid #afafaf;
    text-align: left;
    background-color: #e7e7e7;
    padding: 8px;
  }
  .cart_display th img, .cart_display td img {
    width: 75px;
    background: radial-gradient(circle, #1c5c9c, black); /* Adjust colors as needed */
  }
  .cart_display th {
    background-color: #f2f2f2;
  }
  .subtotal {
    display: flex;
    justify-content: space-between;
  }
  .subtotal .promocode {
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .subtotal .promocode input {
    border-radius: 0px;
    border: 1px solid grey;
  }
  .subtotal .promocode input:focus {
    outline: none;
  }
  .subtotal .promocode button {
    margin-top: 5%;
    border: none;
    width: 60%;
    padding: 1px;
    border-radius: 10px;
    background-color: #1c5c9c;
    color: white;
  }
  .subtotal .subtotal1 {
    text-align: left;
    width: 50%;
  }
  .subtotal .subtotal1 .table1 .t1 {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    background-color: #e7e7e7;
  }
  .subtotal .subtotal1 .table1 .t2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: #e7e7e7;
  }
  .submitbutton {
    display: flex;
    justify-content: end;
    margin-top: 2%;
  }
  .submitbutton button {
    border: none;
    border-radius: 10px;
    background-color: #1c5c9c;
    color: white;
    padding: 10px;
    font-size: 13px;
  }
}
@media (max-width: 650px) {
  .checkout .ballsNlines {
    width: 85%;
    margin: auto;
  }
  .checkout .ballsNlines .line {
    border: 2px solid black;
    height: 4px;
    border-radius: 10px;
    width: 100px;
  }
  .checkout .underballs {
    width: 80%;
    border: 2px solid black;
    justify-content: space-between;
  }
}
@media (max-width: 525px) {
  .cart_display {
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 2%;
  }
  .cart_display table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .cart_display th, .cart_display td {
    border: 1px solid #afafaf;
    text-align: left;
    background-color: #e7e7e7;
    padding: 8px;
  }
  .cart_display th img, .cart_display td img {
    width: 75px;
    background: radial-gradient(circle, #1c5c9c, black); /* Adjust colors as needed */
  }
  .cart_display th {
    background-color: #f2f2f2;
  }
  .subtotal {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .subtotal .promocode {
    text-align: left;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }
  .subtotal .promocode input {
    border-radius: 0px;
    width: 100%;
    border: 1px solid grey;
  }
  .subtotal .promocode input:focus {
    outline: none;
  }
  .subtotal .promocode button {
    margin-top: 5%;
    border: none;
    width: 60%;
    padding: 1px;
    border-radius: 10px;
    background-color: #1c5c9c;
    color: white;
  }
  .subtotal .subtotal1 {
    text-align: left;
    width: 100%;
  }
  .subtotal .subtotal1 .table1 .t1 {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    background-color: #e7e7e7;
  }
  .subtotal .subtotal1 .table1 .t2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: #e7e7e7;
  }
  .submitbutton {
    display: flex;
    justify-content: end;
    margin-top: 5%;
  }
  .submitbutton button {
    border: none;
    width: 100%;
    border-radius: 10px;
    background-color: #1c5c9c;
    color: white;
    padding: 10px;
    font-size: 13px;
  }
  .checkout .ballsNlines {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
  .checkout .ballsNlines .line {
    border: 2px solid black;
    height: 4px;
    border-radius: 10px;
    width: 100px;
  }
  .checkout .underballs {
    width: 90%;
    border: 2px solid black;
    justify-content: space-between;
  }
}/*# sourceMappingURL=smaller_screens.css.map */