<div class="navbar" id="oldNav">

    <div class="firstSide">
        <a href="#"><h1>CEJ Kirk</h1></a>

        <div class="links">
            <a href="#" id="home-page">Home <i class="fa-solid fa-caret-down"></i></a>
            <a href="#" id="about-page">About <i class="fa-solid fa-caret-down"></i></a>
            <a href="#" id="about-page">Others <i class="fa-solid fa-caret-down"></i></a>
            <a href="#" id="contact-page">Contact</a>
        </div>
    </div>


    <div class="cart">
        <!-- <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> -->
        <a href="#"><button><i class="fa-solid fa-cart-shopping"></i> Cart <span>0</span></button></a>
        <!-- <span class="dot" id="cart_itemsID">{{items}}</span> -->
    </div>


</div>



<div class="navbar2">

    <div class="hamburgerMenu">
        <i class="fa-solid fa-bars" onclick="open_menu()"></i>
    </div>


    <div class="firstSide">
        <a href="#"><h1>CEJ Kirk</h1></a>
    </div>


    <div class="cart">
        <!-- <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> -->
        <a href="#"><button><i class="fa-solid fa-cart-shopping"></i> Cart <span>0</span></button></a>
        <!-- <span class="dot" id="cart_itemsID">{{items}}</span> -->
    </div>


</div>


